/* DIV 绝对定位 1-100 1为最底层 */
.BackPlane{
	z-index: 10; 
	position: absolute;
	width:320px;
	height:480px;
	left:0;
	top:0;
	background-color:#66CC00
}

.MainICO{
	z-index: 100; 
	position: absolute;
	overflow:left;
	left: 20px;
	top: 35px;
	background-color:transient
}



/* ====================================================== */
.Foot {
	position: absolute;
	z-index:20;
	height: 80px;
	width: 300px;
	bottom: 0px;
	left: 0px;
	font-family: "微软雅黑";
	font-size: 11px;
}

.UserInfo {
	position: absolute;
	z-index:20;
	height: 10px;
	width: 240px;
	left: 20px;
	top: 10px;
}

.MainMessage {
	position: absolute;
	z-index:30;
	height: 20px;
	width: 300;
	left: 60px;
	top: 35px;
}

.DateTimePlane{
	position: absolute;
	z-index:20;
	height: 8px;
	width: 50px;
	left: 250px;
	top: 26px;
}

.ChangeSkinPlane{
	z-index:20;
	position: absolute;
	cursor: pointer;
	width:60px;
	height:10px;
	overflow:left;
	left: 250px;
	top: 8px;
	background-color:transient
	border-style: ridge;
	border-width : 1px;
    float: left;
    overflow: hidden;
}

.ChangeSkinPlaneYes{
	z-index:100;
	position: absolute;
	width:100px;
	height:35px;
	overflow:left;
	left: 200px;
	top: 20px;
	color: #FFFFFF;
	background-color: #000000;
}

.Skin1, .Skin2, .Skin3, .Skin4, .Skin5, {
	z-index:20;
	position: absolute;
	text-align : center;
	overflow: hidden;
	FONT-SIZE: 6px;
	width:10px;
	height:10px;
}

.Skin1 {
	overflow:left;
	left: 0px;
	top: 0px;
	background-color:#66CC00
}

.Skin2 {
	overflow:left;
	left: 12px;
	top: 0px;
	background-color:#6633CC
}
.Skin3 {
	overflow:left;
	left: 24px;
	top: 0px;
	background-color:#FF9900
}
.Skin4 {
	overflow:left;
	left: 36px;
	top: 0px;
	background-color:#FFFF66
}
.Skin5 {
	overflow:left;
	left: 48px;
	top: 0px;
	background-color:#000000
}

.FunTitle1 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 46;
	left: 20px;
	top: 65px;
}

.FunTitle2 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 68;
	left: 66px;
	top: 65px;
}
.FunTitle3 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 50;
	left: 134px;
	top: 65px;
}
.FunTitle4 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 188px;
	top: 65px;
}

.FunTitle5 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 244px;
	top: 65px;
}

.ContentPlane {
	z-index: 10; 
	position: absolute;
	width:260px!important; /*兼容 FF*/
	width:280px;
	height:280px!important; /*兼容 FF*/
	height:300px;
	overflow:left;
	padding-top: 10;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	left:20;
	top:85;
}



/*  重新定义 标签样式 */
Body{
	font-family: "微软雅黑";
	font-size: 14px;
}


table{
	font-family: "微软雅黑";
	font-size: 10px;
	border-collapse: separate;
}

th{
}

td{
	word-break: keep-all;
	white-space:nowrap;
}

select{
	display:block;
	position:relative;
	overflow:hidden;
	display:inline-block;
}

span.click{
	cursor: pointer;
}

a:link {color: #3333FF}     /* 未访问的链接 */
a:visited {color: #3333FF}  /* 已访问的链接 */
a:hover {color: #C7EDCC}    /* 当有鼠标悬停在链接上 */
a:active {color: #C0C0C0}   /* 被选择的链接 */

.DateTimePlaneFont{
	font-family: "微软雅黑";
	font-size: 9px;
}

.FunTitleFont{
	font-family: "微软雅黑";
	font-size: 14px;
	text-align : center;
	    cursor: pointer;
}
.MainMessageFont {
	font-family: "微软雅黑";
	color: #3333FF;
}

.Content {
	background-color: #C7EDCC;
	overflow-x: auto;
	overflow-y: auto;
	white-space:nowrap;
}


.ContentTdColor {
	background-color: #66CC00;
}

.ContentTdColor1 {
	background-color: #C7EDCC;
}

.ContentTdColor2 {
	background-color: #66CC00;
}



