body.mainfont {
	font-family: "微软雅黑";
	font-size: 12px;
}


.AllFont {
	font-family: "微软雅黑";
	font-size: 12px;
}

.BodyDiv {
	background-color: #66CC00;
	position:absolute;
	height: 480px;
	width: 320px;
	left: 0px;
	top: 0px;
}

.TopInfo {
	position: absolute;
	height: 10px;
	width: 200px;
	left: 20px;
	top: 10px;
}

.theme-1, .theme-2, .theme-3, .theme-4, .theme-5, {
    cursor: pointer;
	border-style: ridge;
	border-width : 1px;
    float: left;
    overflow: hidden;

}

.ChangeSkinColor {
	font-size: 7px;
	position: absolute;
	height: 10px;
	width: 50px;
	left: 240px;
	top: 7px;
}

.theme-1 {
	position: absolute;
	background-color: #66CC00;
	text-align : center;
	height: 10px;
	width: 10px;
	left: 0px;
	top: 7px;
}
.theme-2 {
	position: absolute;
	background-color: #9900FF;
	text-align : center;
	height: 10px;
	width: 10px;
	left: 12px;
	top: 7px;
}
.theme-3 {
	position: absolute;
	background-color: #FF6600;
	text-align : center;
	height: 10px;
	width: 10px;
	left: 24px;
	top: 7px;
}
.theme-4 {
	position: absolute;
	background-color: #FFFF33;
	text-align : center;
	height: 10px;
	width: 10px;
	left: 36px;
	top: 7px;
}
.theme-5 {
	position: absolute;
	background-color: #333300;
	text-align : center;
	height: 10px;
	width: 10px;
	left: 48px;
	top: 7px;
}


.Title {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #3300CC;
	position: absolute;
	height: 20px;
	width: 300;
	left: 60px;
	top: 35px;
}

.ErrorInfo {
	position: absolute;
	height: 20px;
	width: 300;
	left: 60px;
	top: 35px;
}

.TitleIMG {
	position: absolute;
	z-index:1;
	height: 50px;
	width: 50px;
	left: 20px;
	top: 35px;
}

.FunTitle1 {
	position: absolute;
	text-align : center;
    cursor: pointer;
	height: 20px;
	width: 56;
	left: 20px;
	top: 65px;
}

.FunTitle2 {
	position: absolute;
	text-align : center;
    cursor: pointer;
	height: 20px;
	width: 56;
	left: 76px;
	top: 65px;
}
.FunTitle3 {
	position: absolute;
	text-align : center;
	cursor: pointer;
	height: 20px;
	width: 56;
	left: 132px;
	top: 65px;
}
.FunTitle4 {
	position: absolute;
	text-align : center;
    cursor: pointer;
	height: 20px;
	width: 56;
	left: 188px;
	top: 65px;
}

.FunTitle5 {
	position: absolute;
	text-align : center;
    cursor: pointer;
	height: 20px;
	width: 56;
	left: 244px;
	top: 65px;
}

.Content {
	background-color: #C7EDCC;
	padding-top: 10;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	position: absolute;
	height: 300px;
	width: 280;
	left: 20px;
	top: 85px;
	overflow-x: auto;
	overflow-y: auto;
	white-space:nowrap;

}

.Foot {
	font-family: "微软雅黑";
	font-size: 11px;
	line-height: 14px;
	position: absolute;
	height: 80px;
	width: 300px;
	bottom: 0px;
	left: 0px;
}

.Login {
	background-color: #66CC00;
	position:absolute;
	height: 240px;
	width: 280px;
	left: 20px;
	top: 120px;
	padding-top: 10;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10;
}



.LoginInput{
	margin-left:   20px;
	color:   #0033FF;
	width:   160px;
	font-size:   12px;
	font-family:   Arial;
	margin-top:   0px;
	border:   0px   none;
	height:   18px;
} 

.LoginButton {
	BORDER-RIGHT: #002D96 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #002D96 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#66CC00, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #002D96 1px solid; 
	CURSOR: hand; COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #002D96 1px solid
}

.LogoutButton {
	BORDER-RIGHT: #002D96 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #002D96 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#66CC00, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #002D96 1px solid; 
	CURSOR: hand; COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #002D96 1px solid
}


.BodyLink1 {
    cursor: pointer;
}
