/* DIV 绝对定位 1-100 1为最底层 */
.BackPlane{
	z-index: 10; 
	position: absolute;
	width:320px;
	height:480px;
	overflow:left;
	left:0;
	top:0;
	background-color:#CCFF33;
}

.IndexICO{
	z-index: 100; 
	position: absolute;
	width:auto;
	height:auto;
	overflow:left;
	left: 20px;
	top: 100px;
	background-color:transient
}

.MainICO{
	z-index: 100; 
	position: absolute;
	width:auto;
	height:auto;
	overflow:left;
	left: 20px;
	top: 35px;
	background-color:transient
}

.IndexTitle{
	z-index: 20; 
	position: absolute;
	width:auto;
	height:auto;
	overflow:left;
	left: 60px;
	top: 100px;
	background-color:transient
}

.IndexLogin{
	z-index: 20; 
	position: absolute;
	width:auto;
	height:auto;
	overflow:left;
	left: 20px;
	top: 140px;
	padding-top: 10;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10;
	background-color:transient
}


/* ====================================================== */
.Foot {
	position: absolute;
	z-index:20;
	height: 80px;
	width: 300px;
	bottom: 0px;
	left: 0px;
}

.UserInfo {
	position: absolute;
	z-index:20;
	height: 10px;
	width: 240px;
	left: 20px;
	top: 10px;
}

.MainMessage {
	position: absolute;
	z-index:30;
	height: 20px;
	width: 300;
	left: 60px;
	top: 35px;
}

.DateTimePlane{
	position: absolute;
	z-index:20;
	height: 8px;
	width: 50px;
	left: 250px;
	top: 26px;
}

.ChangeSkinPlane{
	z-index:20;
	position: absolute;
	width:60px;
	height:10px;
	overflow:left;
	left: 250px;
	top: 8px;
	background-color:transient
}

.ChangeSkinPlaneYes{
	z-index:100;
	position: absolute;
	width:100px;
	height:35px;
	overflow:left;
	left: 200px;
	top: 20px;
	color: #FFFFFF;
	background-color: #000000;
}

.Skin1, .Skin2, .Skin3, .Skin4, .Skin5, {
    cursor: pointer;
	text-align : center;
	overflow: hidden;
	FONT-SIZE: 6px;
}

.Skin1 {
	z-index:20;
	position: absolute;
	width:10px;
	height:10px;
	overflow:left;
	left: 0px;
	top: 0px;
	background-color:#66CC00
}

.Skin2 {
	z-index:20;
	position: absolute;
	width:10px;
	height:10px;
	overflow:left;
	left: 12px;
	top: 0px;
	background-color:#9900FF
}
.Skin3 {
	z-index:20;
	position: absolute;
	width:10px;
	height:10px;
	overflow:left;
	left: 24px;
	top: 0px;
	background-color:#FF6600
}
.Skin4 {
	z-index:20;
	position: absolute;
	width:10px;
	height:10px;
	overflow:left;
	left: 36px;
	top: 0px;
	background-color:#FFFF33
}
.Skin5 {
	z-index:20;
	position: absolute;
	width:10px;
	height:10px;
	overflow:left;
	left: 48px;
	top: 0px;
	background-color:#333300
}

.FunTitle1 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 20px;
	top: 65px;
}

.FunTitle2 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 76px;
	top: 65px;
}
.FunTitle3 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 132px;
	top: 65px;
}
.FunTitle4 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 188px;
	top: 65px;
}

.FunTitle5 {
	position: absolute;
	z-index:20;
	height: 20px;
	width: 56;
	left: 244px;
	top: 65px;
}

.ContentPlane {
	z-index: 10; 
	position: absolute;
	width:260px!important; /*兼容 FF*/
	width:280px;
	height:280px!important; /*兼容 FF*/
	height:300px;
	overflow:left;
	padding-top: 10;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	left:20;
	top:85;
}


.IndexLoginInfo {
	z-index:20;
	position: absolute;
	height: 20px;
	width: 280;
	left: 20px;
	top: 300px;
} 

/*  重新定义 标签样式 */
Body{
	font-family: "微软雅黑";
	font-size: 14px;
}


table{
	font-family: "微软雅黑";
	font-size: 10px;
	border-collapse: separate;
}

th{
}

td{
	word-break: keep-all;
	white-space:nowrap;
}

select{
	display:block;
	position:relative;
	overflow:hidden;
	display:inline-block;
}

span.click{
	cursor: pointer;
}
/*  自定义标签样式 */
.IndexLogin{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #3300CC;
}


.IndexTitle{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #CCFF33;

}

.ChangeSkinPlane{
    cursor: pointer;
	border-style: ridge;
	border-width : 1px;
    float: left;
    overflow: hidden;

}
.FootFont {
	font-family: "微软雅黑";
	font-size: 11px;
}

.DateTimePlaneFont{
	font-family: "微软雅黑";
	font-size: 9px;
}

.FunTitleFont{
	font-family: "微软雅黑";
	font-size: 14px;
	text-align : center;
	    cursor: pointer;
}
.MainMessageFont {
	font-family: "微软雅黑";
	color: #3333FF;
}

.Content {
	background-color: #CCFF99;
	overflow-x: auto;
	overflow-y: auto;
	white-space:nowrap;
}

.ContentTdColor {
	background-color: #9900FF;
}

.ContentTdColor1 {
	background-color: #33FFFF;
}

.ContentTdColor2 {
	background-color: #00CC00;
}

.IndexLoginInfo{
	background-color: #333300;
	color: #FF6666;
	font-family: "微软雅黑";
	font-size: 14px;
}

/*  按钮和其它定义 */

.LoginInput{
	margin-left:   20px;
	color:   #0033FF;
	width:   160px;
	font-size:   12px;
	font-family:   Arial;
	margin-top:   0px;
	border:   0px   none;
	height:   18px;
} 

.LoginButton {
	BORDER-RIGHT: #002D96 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #002D96 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#66CC00, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #002D96 1px solid; 
	CURSOR: hand; COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #002D96 1px solid
}

.LogoutButton {
	BORDER-RIGHT: #002D96 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: #002D96 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 12px; 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#66CC00, EndColorStr=#9DBCEA); 
	BORDER-LEFT: #002D96 1px solid; 
	CURSOR: hand; COLOR: black; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: #002D96 1px solid
}

